@using Portfolio.BusinessLogic.DTOs.SkillDTOs;
@model SkillCreateDTO
@{
    Layout = "_LayoutDashboard";
}

<div class="card">
    <div class="card-body">
        <h4 class="header-title">Add Skill</h4>
        <form asp-controller="Dashboard" asp-action="SkillsCreate" method="post">
            <div class="mb-3">
                <label asp-for="@Model.Name">Name</label>
                <input class="form-control mt-2" type="text" asp-for="@Model.Name">
                <span class="text-danger" asp-validation-for="@Model.Name" style="font-size: 14px;"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-outline-dark">Submit</button>
            </div>
        </form>
    </div>
</div>