@using Portfolio.WebUI.ViewModel;
@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
    var skills = Model.Skills;
}

@if (skills != null)
{
    <div>
        @foreach (var s in skills)
        {
            <div>
                <h3>@s.Name</h3>
            </div>
        }
    </div>
}